---
---

@import "{{ site.theme }}";

div.right-align {
  text-align: right;
  margin-left: auto;
  margin-right: 0;
}

.button-socicon {
  color: #6d6d6d;
  text-decoration: none !important;
}

ul.pl {
  white-space: nowrap;
}

li.pl_item {
  list-style: none;
  overflow: hidden;
  display: inline-block;
}

a.pl_link {
  color: #6d6d6d;
  text-decoration: none !important;
}

a.h1_link {
  color: #303030;
  text-decoration: none !important;
}

a.h1_link:hover {
  color: #c5000c;
}
