---
---

@import "{{ site.theme }}";

header h1 {
  margin: 0 0 0 0px;
}

header h1:before {
  content: "";
}

footer {
  font-size: 10px;
  text-align: right;
  border-top: 1px dashed $conifer;
}

.button-socicon {
  width: 150px;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  border-radius: 15px !important;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2) !important;

  /* Better Font Rendering */
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;

  vertical-align: middle;
  margin-right: 0.3em;

  color: #eaeaea !important;
}

.button-twitter {
  background-color: #4da7de !important;
}

.button-instagram {
  background-color: #bc2a8d !important;
}

.button-twitch {
  background-color: #6441a5 !important;
}

.button-github {
  color: #24292e !important;
  background-color: #eaeaea !important;
}
