{% include base_path %}

<!DOCTYPE html>
<html lang="{{ site.locale | default: "en-US" }}">
  <head>
    {% include head.html %}
  </head>
  <body>
    <div id="container">
      <div class="inner">
        <header>
          {% include body_header.html %}
        </header>
        <hr />
        <section id="page_links">
          {% include page_links.html %}
        </section>
        <section id="main_content">
          {{ content }}
        </section>
        <section id="social_links">
          {% include social.html %}
        </section>
        <footer>
          {% include footer.html %}
        </footer>
      </div>
    </div>
  </body>
</html>
